In [ ]:
#iprting libraries

In [47]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

In [49]:
# Connecting to website

In [69]:
url='https://www.amazon.in/SQL-Data-Analysis-Cathy-Tanimura-ebook/dp/B09FX81BDM/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr='
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}

page = requests.get(url,headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

price = soup2.find(id='kindle-price').get_text()

#print(soup1)
print(title)
print(price)

              SQL for Data Analysis


                             â‚¹1,330.00

In [70]:
price=price.strip()[1:]
title=title.strip()

print(title)
print(price)

SQL for Data Analysis
1,330.00

In [75]:
# Create a Timestamp for your output to track when data was collected

import datetime
today = datetime.date.today()
print(today)

2024-07-01

In [79]:
# Create CSV and write headers and data into the file

import csv
header = ['Title','Price','Date']
data = [title,price,today]

with open('Amazon WebScraper Dataser.csv','w',newline='',encoding='UTF8')as f:
    writer=csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [81]:
import pandas as pd

df = pd.read_csv(r'C:\Users\COOL\Amazon WebScraper Dataser.csv')
print(df)

                   Title     Price        Date
0  SQL for Data Analysis  1,330.00  2024-07-01

In [83]:
#Now we are appending data to the csv

with open('Amazon WebScraper Dataser.csv','a+',newline = '',encoding='UTF8')as f:
    writer=csv.writer(f)
    writer.writerow(data)

In [93]:
#Combine all of the above code into one function

def check_price():
    url='https://www.amazon.in/SQL-Data-Analysis-Cathy-Tanimura-ebook/dp/B09FX81BDM/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr='
    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36"}

    page = requests.get(url,headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()

    price = soup2.find(id='kindle-price').get_text()

    price=price.strip()[1:]
    title=title.strip()

    import datetime

    today = datetime.date.today()
    
    import csv 

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [ ]:

# Runs check_price after a set time and inputs data into your CSV

while(True):
    check_price()
    time.sleep(86400)

In [ ]:
import pandas as pd

df = pd.read_csv(r'C:\Users\COOL\Amazon WebScraper Dataser.csv')
print(df)

In [ ]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script

def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('madhavikompell362@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "The Shirt you want is below 1000! Now is your chance to buy!"
    body = "Madhavi, This is the moment we have been waiting for. Now is your chance to pick up the book. Don't mess it up! Link here: https://www.amazon.in/SQL-Data-Analysis-Cathy-Tanimura-ebook/dp/B09FX81BDM/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr="
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'madhavikompella362@gmail.com',
        msg
     
    )